.no-movies {
    margin-top: 10%;
    margin-left: 35%;
    color:#A4ADA4
}

.movie-container {
    i {
        position: absolute;
        top: 0;
        margin-left: 75%;
        color: white;
        text-shadow: 0px 0px 6px #0000004D;
    }
}