<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-sm-10">
            <mat-form-field class="full-width">
                <mat-label>Search movies or series</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput [formControl]="searchControl">
            </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-2 mt-2">
            <button mat-button type="button">Favorites</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <app-movies [movies]="movies"></app-movies>
        </div>
    </div>
</div>