.logo {
    span {
        text-align: left;
        font-family: 'Metropolis Semi';
        font-size: 28px;
        letter-spacing: 0px;
        color: #37B987;
        opacity: 1;
    }
}

#user-icon {
    font-size: 35px;
    color: #A0AFA0;
    cursor: pointer;
    &:hover {
        color:#8f9b8ff1;
    }
}