/* You can add global styles to this file, and also import other style files */
@import './app/modules/core/styles/snackbars.scss';
@import './assets/scss/fonts.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    &:focus {
        outline: 0;
    }
    &.primary {
        background-color: #3CC896; 
        color: white;
    }
}

.full-width {
    width: 100%;
}

